<div class="container mt-5">
  <dl class="dl row">
    <dt class="col-sm-3">Project Name</dt>
    <dd class="col-sm-9"><%= @bundle_context.project_name %></dd>
    <dt class="col-sm-3">User</dt>
    <dd class="col-sm-9"><%= @bundle_context.user.email %></dd>
    <dt class="col-sm-3">Content Structure</dt>
    <dd class="col-sm-9"><%= @bundle_context.content_structure %></dd>
    <dt class="col-sm-3">Bundle Directory</dt>
    <dd class="col-sm-9"><%= @bundle_context.bundle_dir %></dd>
    <dt class="col-sm-3">Staging Style Symlink?</dt>
    <dd class="col-sm-9">
      <% if @bundle_context.staging_style_symlink %>
        <i class="fas fa-check"></i>
      <% else %>
        <i class="far fa-times-circle"></i>
      <% end %>
    </dd>
    <dt class="col-sm-3">Content Metadata Creation</dt>
    <dd class="col-sm-9"><%= @bundle_context.content_metadata_creation %></dd>
    <dt class="col-sm-3">Created At</dt>
    <dd class="col-sm-9"><%= @bundle_context.created_at %></dd>
  </dl>
  <div class="row mx-auto mt-5">
    <h3 class="col-sm-12">Actions</h3>
    <%= form_for(@bundle_context.job_runs.new) do |form| %>
      <%= form.hidden_field :bundle_context_id, value: @bundle_context.id %>
      <%= form.hidden_field :job_type, value: 'discovery_report' %>
      <%= form.submit 'New Discovery Report', class: 'btn btn-success' %>
    <% end %>
    <%= form_for(@bundle_context.job_runs.new) do |form| %>
      <%= form.hidden_field :bundle_context_id, value: @bundle_context.id %>
      <%= form.hidden_field :job_type, value: 'preassembly' %>
      <%= form.submit 'Run Preassembly', class: 'btn btn-sul-dlss' %>
    <% end %>
  </div>
</div>
