<table class="table">
  <caption>Progress Log</caption>
  <thead>
    <tr>
      <th class="text-center">DRUID</th>
      <th class="text-center">Status</th>
      <th class="text-center">Discovery Finished</th>
      <th class="text-center">Pre-assembly Finished</th>
      <th class="text-center">Time Started</th>
    </tr>
  </thead>
  <tbody>
    <% @progress_log.each do |row| %>
        <tr>
            <td class="text-center"><%= row[:pid] %></td>
            <td class="text-center"><%= row[:status] %></td>
            <td class="text-center"><%= row[:discovery_finished] %></td>
            <td class="text-center"><%= row[:pre_assem_finished] %></td>
            <td class="text-center"><%= row[:timestamp] %></td>
        </tr>
    <% end %>
  </tbody>
</table>
