<div class="row mt-5">
  <div class="col-sm-12">
    <h1><%= link_to @job_run.project.project_name, @job_run.project %> by <%= @job_run.project.user.email %></h1>
    <p><%= @job_run.job_type.humanize %> #<%= @job_run.id %></p>
  </div>
</div>
<turbo-frame id="progress-log-frame">
  <div class="row mt-5">
    <div class="col-12">
      <table class="table">
        <caption>Progress Log</caption>
        <thead>
          <tr>
            <th class="text-center">DRUID</th>
            <th class="text-center">Status</th>
            <th class="text-center">Discovery Finished</th>
            <th class="text-center">Pre-assembly Finished</th>
            <th class="text-center">Time Started</th>
          </tr>
        </thead>
        <tbody>
          <% @progress_log.each do |row| %>
              <tr>
                  <td class="text-center"><%= row[:pid] %></td>
                  <td class="text-center"><%= row[:status] %></td>
                  <td class="text-center"><%= row[:discovery_finished] %></td>
                  <td class="text-center"><%= row[:pre_assem_finished] %></td>
                  <td class="text-center"><%= row[:timestamp] %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</turbo-frame>
