<turbo-frame id="recent-history">
  <h4>Recent jobs</h4>
  <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Job Type</th>
            <th>Created by</th>
            <th>Status</th>
            <th>Created on</th>
          </th>
        </thead>
      <tbody id="job-history-table">
        <% @job_runs.each do |job_run| %>
          <tr>
            <td><%= link_to job_run.id, job_run %></td>
            <td><%= job_run.job_type %></td>
            <td><%= job_run.batch_context.user.sunet_id %></td>
            <td><%= job_run.human_state_name %></td>
            <td><%= job_run.created_at.in_time_zone('Pacific Time (US & Canada)').to_formatted_s(:long) %></td>
          </tr>
        <% end %>
       </tbody>
    </table>
  </div>
</turbo-frame>
