<%= link_to '[all jobs]',job_runs_path %>

<div class="container">
  <h2><%= @job_run.job_type %> #<%= @job_run.id %></h2>
  <dl class="row">
  <% for attribute in @job_run.attributes.keys.sort %>
  <% if attribute == 'bundle_context_id' %>
    <dt class="col-sm-3">Bundle Context</dt>
    <dd class="col-sm-9">
      <table>
        <tr>
          <th>Project Name</th>
          <td><%= @job_run.bundle_context.project_name %></td>
        </tr>
        <tr>
          <th>User</th>
          <td><%= @job_run.bundle_context.user.email %></td>
        </tr>
        <tr>
          <th>Content Structure</th>
          <td><%= @job_run.bundle_context.content_structure %></td>
        </tr>
        <tr>
          <th>Content Metadata Creation</th>
          <td><%= @job_run.content_metadata_creation %></td>
        </tr>
        <tr>
          <th>Staging Style Symlink?</th>
          <td><%= @job_run.bundle_context.staging_style_symlink %></td>
        </tr>
      </table>
    </dd>
  <% else %>
    <dt class="col-sm-3"><%= attribute.humanize %></dt>
    <dd class="col-sm-9"><%= @job_run.attributes[attribute].to_s %></dd>
  <% end %>
  <% end %>
  </dl>
</div>
