<div class="container">
  <h2><%= @job_run.job_type.humanize %> #<%= @job_run.id %></h2>
</div>

<div class="container">
  <div class="row m-3">
    <div class="col-sm-12">
      On project <%= link_to @job_run.batch_context.project_name, @job_run.batch_context %> by <%= @job_run.batch_context.user.email %>
      <button class="btn btn-sul-dlss btn-sm ml-1" type="button" data-bs-toggle="collapse" data-bs-target="#bc_details" aria-expanded="false" aria-controls="bc_details">
        Details
      </button>
    </div>
  </div>
  <div id="bc_details" class="collapse bg-light">
    <%= render @job_run.batch_context %>
  </div>
</div>

<div class="container">
  <dl class="row">
    <% ['job_type', 'created_at', 'updated_at'].each do |attribute| %>
      <dt class="col-sm-2"><%= attribute.humanize %></dt>
      <dd class="col-sm-10"><%= @job_run.attributes[attribute].to_s %></dd>
    <% end %>
    <dt class="col-sm-2">State</dt>
    <dd class="col-sm-10"><%= @job_run.human_state_name %></dd>
    <% if @job_run.error_message %>
      <dt class="col-sm-2">Errors</dt>
      <dd class="col-sm-10"><%= @job_run.error_message%></dd>
    <% end %>
    <dt class="col-sm-2">Job Output Log</dt>
    <dd class="col-sm-10">
    <% if @job_run.in_progress? %>
      Job is not yet complete.  Please check back later.
    <% elsif File.exist? @job_run.progress_log_file %>
      <%= link_to 'Download', download_log_path(@job_run) %>
    <% else %>
      No progress log file is available.
    <% end %>
    </dd>
    <% if @job_run.report_ready? %>
      <dt class="col-sm-2">Discovery Report</dt>
      <dd class="col-sm-10">
        <div id="discovery-report-links">
          <span id="download-link"><%= link_to 'Download', download_report_path(@job_run) %></span>
          <span id="summary-link">
            <%= turbo_frame_tag 'discovery_report' do %>
              <%= link_to 'View summary in browser', discovery_report_summary_path(@job_run) %>
            <% end %>
          </span>
        </div>
      </dd>
    <% end %>
  </dl>
</div>
