<div class="row mt-5">
  <div class="col-sm-12">
    <h1><%= @job_run.job_type.humanize %> #<%= @job_run.id %></h1>
    <p>Project: <%= link_to @job_run.batch_context.project_name, @job_run.batch_context %></p>
  </div>
</div>
<div class="row p-1 pl-5">
  <div class="col-6">
    <%= render partial: 'settings', locals: { batch_context: @job_run.batch_context } %>
  </div>
  <div class="col-6">
    <%= render partial: 'details' %>
  </div>
</div>
<% if @job_run.report_ready? %>
    <turbo-frame id="discovery-report-frame" src="<%= discovery_report_summary_job_run_path(@job_run) %>"></turbo-frame>
<% end %>
<div class="row mt-5">
    <div class="col-8">
      <p><%= link_to 'Return to homepage', root_path, class: 'nav-link' %></p>
    </div>
      <%= render partial: 'batch_contexts/actions', locals: { batch_context: @job_run.batch_context } %>
    </div>
  </div>
</div>
