<div class="bg-white">
  <div class="alert alert-<%= alert_type %> d-flex shadow-sm align-items-center" role="alert">
    <% icon = alert_type == 'warning' ? 'bi-exclamation-triangle-fill' : 'bi-info-circle-fill' %>
    <% title = alert_type == 'warning' ? 'Warning' : 'Note' %>
    <div class="bi <%= icon %> fs-3 me-3 align-self-center d-flex justify-content-center text-<%= alert_type %>"></div>
    <div class="text-body">
      <div class="fw-semibold"><%= title %></div>
      <div>
        <% case text %>
          <% when :ocr_document %>
          Avoid auto-generating OCR files for PDF documents that do not contain any text, as it may have adverse effects.
          <% when :ocr_image %>
          Avoid auto-generating OCR files for images that do not contain any text, as it may have adverse effects.
        <% when :ocr_accessibility %>
          Auto-generating OCR files alone will not fully meet accessibility standards. To comply with <%= link_to "Stanford's Accessibility policy", 'https://uit.stanford.edu/accessibility/policy' %>, you are encouraged to correct the PDF documents by following the <%= link_to 'PDF accessibility guides', 'https://uit.stanford.edu/accessibility/guides/pdf' %>.
        <% when :stt_accessibility %>
          Auto-generating caption/transcript files alone will not fully meet accessibility standards. To fully comply with <%= link_to "Stanford's Accessibility policy", 'https://uit.stanford.edu/accessibility/policy' %>, you are encouraged to correct the caption/transcript files for any errors.
        <% when :stt_media %>
          Be aware that auto-generating caption/transcript files for media containing minimal speech or lyrics (such as instrumental music) may result in low-quality or incorrect transcription.
        <% when :languages %>
          Selecting more than eight OCR languages may have an adverse effect on the speed and quality of recognition. Please reduce the number of languages.
        <% when :stt_corrected %>
          Please indicate in the file manifest whether the caption/transcript files have been corrected to comply with accessibility standards. More info: <a target=_blank href="https://www.w3.org/WAI/media/av/captions/">Captions</a> and <a target=_blank href="https://www.w3.org/WAI/media/av/transcripts/">Transcripts</a>.
        <% end %>
      </div>
    </div>
  </div>
</div>
