
<div data-controller="globus <%= "ocr" if Settings.ocr.enabled%>">

<div class="row">
    <div class="col">
        <h1 class="h3">Complete the form below</h1>
    </div>
    <div class="col" style="text-align: right;">
      <% if Settings.globus.enabled %>
        <button class="btn btn-sul-dlss" data-globus-target="requestGlobusLink" data-action="click->globus#createDestination">Request Globus Link</button>
      <% end %>
    </div>
</div>

<%= simple_form_for @batch_context do |form| %>
    <%= form.input :project_name %>

    <%= form.simple_fields_for :job_runs do |jt| %>
        <%= jt.input :job_type, collection:
            [
                ["Pre Assembly Run", "preassembly"],
                ["Discovery Report", "discovery_report"]
            ]
        %>
    <% end %>

    <% if Settings.ocr.enabled # if OCR is enabled, the content_structure drop down menu will hide/show ocr menus via stimulus %>
        <%= form.input :content_structure, input_html: { data: { action: "change->ocr#content_structure_changed", "ocr-target": "contentStructure" } }, collection: content_structure %>

        <div data-ocr-target="ocrSettings" hidden>
            <div data-ocr-target="manuallyCorrectedOcr">
            <%= form.input :manually_corrected_ocr, input_html: { data: { action: "change->ocr#manually_corrected_ocr_changed", "ocr-target": "manuallyCorrectedOcrOptions" } },
                as: :radio_buttons,
                collection: [['Yes', true], ['No', false]] %>
            </div>
            <div data-ocr-target="runOcr">
            <%= form.input :run_ocr, input_html: { data: { action: "change->ocr#run_ocr_changed", "ocr-target": "runOcrOptions" } },
                as: :radio_buttons,
                collection: [['Yes. Run ABBYY OCR.', true], ['No. Do not run ABBYY OCR.', false]] %>
                <div data-ocr-target="runOcrDocumentNotes" hidden>
                    <p><i>Warning:</i> If your document is already WCAG/PDFUA compliant, ABBYY may create a less accessible version.
                    Your original document will not be overwritten.</p>
                    <p><i>Note:</i> Automatic tools can achieve only a minimal level of compliance with accessibility standards (WCAG, PDF/UA).
                    To be fully compliant, it is encouraged that documents be manually remediated and uploaded.
                    See <%= link_to 'https://uit.stanford.edu/accessibility/guides/pdf'%></p>
                </div>
            </div>
        </div>
    <% else # if OCR is not enabled, use the regular drop down menu %>
       <%= form.input :content_structure, collection: content_structure %>
    <% end %>

    <%= form.input :staging_location, input_html: { data: { "globus-target": "stagingLocation" } } %>

    <%# the 'staging_style_symlink` is hidden, since we do not currently want users to access it (it may cause problems with some accessioning steps)%>
    <%= form.hidden_field :staging_style_symlink, value: false %>
    <%= form.input :processing_configuration, collection:
        [
            ["Default", "default"],
            ["Group by filename", "filename"],
            ["Group by filename (with pre-existing OCR)", "filename_with_ocr"]
        ]
    %>

    <%= form.input :using_file_manifest, as: :boolean, label: 'I have a file manifest'%>

    <%= form.input :all_files_public,
                   as: :radio_buttons,
                   collection: [['Default', false], ['Preserve=Yes, Shelve=Yes, Publish=Yes', true]] %>

    <%= form.button :submit, class: "btn-sul-dlss" %>
<% end %>

</div>
