<h3>Complete the form below</h3>

<%= simple_form_for @batch_context, html: { class: 'col-md-8' } do |form| %>
    <%= form.input :project_name %>

    <%= form.simple_fields_for :job_runs do |jt| %>
        <%= jt.input :job_type, collection:
            [
                ["Pre Assembly Run", "preassembly"],
                ["Discovery Report", "discovery_report"]
            ]
        %>
    <% end %>

    <%= form.input :content_structure, collection:
    [
        ['Simple Image', 'simple_image'],
        ['Simple Book', 'simple_book'],
        ['Document', 'document'],
        ['File', 'file'],
        ['Media', 'media'],
        ['3D', '3d'],
    ]
    %>


    <%= form.input :bundle_dir %>
    <%= form.input :staging_style_symlink %>
    <%= form.input :content_metadata_creation, collection:
        [
            ["Default", "default"],
            ["Filename", "filename"],
            ["Media", "media_cm_style"]
        ]
    %>

    <%= form.input :all_files_public,
                   as: :radio_buttons,
                   collection: [['Default', false], ['Preserve=Yes, Shelve=Yes, Publish=Yes', true]] %>

    <%= form.button :submit, class: "btn-sul-dlss" %>
<% end %>
