 <table class="table table-bordered">
    <thead>
        <tr class="table-secondary">
            <th colspan="2">Settings</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Content Type</td>
            <td><%= content_structure.to_h.key(batch_context.content_structure) %></td>
        </tr>
        <tr>
            <td>Staging Location</td>
            <td><div class="copy-nowrap"><span class="staging-location"><%= batch_context.staging_location %></span><a class="copy-button" data-controller="copy" data-copy-clip-value="<%= batch_context.staging_location %>" data-action="copy#copy" aria-label="Copy staging location" href=""><span class="fas fa-copy"></span></a></div>
                <% if batch_context.active_globus_url %>
                    <%= link_to 'Globus', batch_context.active_globus_url, target: 'blank' %>
                <% end %>
            </td>
        </tr>
        <tr>
            <td>Processing configuration</td>
            <td><%= processing_configuration.to_h.key(batch_context.processing_configuration) %></td>
        </tr>
        <tr>
            <td>Using File Manifest</td>
            <td><%= batch_context.using_file_manifest ? 'yes' : 'no' %></td>
        </tr>
        <tr>
            <td>Publish/shelve/preserve setting</td>
            <td><%= batch_context.all_files_public ? 'all files public' : 'default' %></td>
        </tr>
    </tbody>
</table>
