 <table class="table table-bordered">
    <thead>
        <tr class="table-secondary">
            <th colspan="2">Settings</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Content Structure</td>
            <td><%= batch_context.content_structure %></td>
        </tr>
        <tr>
            <td>Staging Location</td>
            <td>
                <%= batch_context.staging_location %>
                <% if batch_context.active_globus_url %>
                    <br /><%= link_to batch_context.active_globus_url, batch_context.active_globus_url %>
                <% end %>
            </td>
        </tr>
        <tr>
            <td>Processing configuration</td>
            <td><%= batch_context.processing_configuration %></td>
        </tr>
        <tr>
            <td>Using File Manifest</td>
            <td><%= batch_context.using_file_manifest ? 'yes' : 'no' %></td>
        </tr>
        <tr>
            <td>Publish/shelve/preserve setting</td>
            <td><%= batch_context.all_files_public ? 'all files public' : 'default' %></td>
        </tr>
    </tbody>
</table>
