<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h1>Project: <%= @batch_context.project_name %></h1>
    </div>
    <div class="col-6 justify-content-end">
      <%= render partial: 'actions', locals: { batch_context: @batch_context } %>
    </div>
  </div>
  <div class="row p-1 pl-5">
    <div class="col-6 ps-0">
      <%= render partial: 'settings', locals: { batch_context: @batch_context } %>
    </div>
    <div class="col-6">
      <%= render partial: 'details', locals: { batch_context: @batch_context } %>
    </div>
  </div>
  <% if @batch_context.job_runs.present? %>
    <%= render partial: 'jobs_summary', locals: { job_runs: @batch_context.job_runs } %>
  <% end %>

  <% if @batch_context.progress_log_file_exists? %>
    <turbo-frame id="progress-log-frame" src="<%= progress_log_job_run_path(@batch_context.job_runs.last) %>"></turbo-frame>
  <% end %>
</div>
