<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1><%= @batch_context.project_name %> by <%= @batch_context.user.email %></h1>
    </div>
  </div>
  <div class="row p-1 pl-5">
    <div class="hstack gap-2">
      <%= render partial: 'actions', locals: { batch_context: @batch_context } %>
    </div>
  </div>
  <dl class="dl row">
    <dt class="col-sm-3">Content Structure</dt>
    <dd class="col-sm-9"><%= @batch_context.content_structure %></dd>
    <dt class="col-sm-3">Staging Location</dt>
    <dd class="col-sm-9"><%= @batch_context.staging_location %></dd>
    <dt class="col-sm-3">Processing configuration</dt>
    <dd class="col-sm-9"><%= @batch_context.processing_configuration %></dd>
    <dt class="col-sm-3">Using File Manifest</dt>
    <dd class="col-sm-9"><%= @batch_context.using_file_manifest ? 'yes' : 'no' %></dd>
    <dt class="col-sm-3">Created At</dt>
    <dd class="col-sm-9"><%= @batch_context.created_at %></dd>
  </dl>
  <% if @batch_context.job_runs.present? %>
    <div class="row mt-4">
      <h5>Jobs summary</h5>
      <table class="table">
        <thead>
          <tr>
            <th>JobRun ID</th>
            <th>Type</th>
            <th>Created</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <% @batch_context.job_runs.each do |job_run|%>
            <tr>
              <td><%= link_to(job_run.id, job_run) %></td>
              <td><%= job_run.job_type.humanize %></td>
              <td><%= job_run.created_at %></td>
              <td><%= job_run.state.humanize %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @batch_context.progress_log_file_exists? %>
    <turbo-frame id="progress-log-frame" src="<%= progress_log_job_run_path(@batch_context.job_runs.last) %>"></turbo-frame>
  <% end %>
</div>
