<h3>Complete the form below</h3>

<%= simple_form_for @project do |form| %>
    <%= form.input :project_name %>

    <%= form.simple_fields_for :job_runs do |jt| %>
        <%= jt.input :job_type, collection:
            [
                ["Pre Assembly Run", "preassembly"],
                ["Discovery Report", "discovery_report"]
            ]
        %>
    <% end %>

    <%= form.input :content_structure, collection:
    [
        ['Image', 'simple_image'],
        ['Book (ltr)', 'simple_book'],
        ['Book (rtl)', 'simple_book_rtl'],
        ['Document', 'document'],
        ['File', 'file'],
        ['Media', 'media'],
        ['3D', '3d'],
        ['Map', 'maps'],
        ['Webarchive seed', 'webarchive_seed']
    ]
    %>


    <%= form.input :staging_location %>
    <%# the 'staging_style_symlink` is hidden, since we do not currently want users to access it (it may cause problems with some accessioning steps)%>
    <%= form.hidden_field :staging_style_symlink, value: false %>
    <%= form.input :processing_configuration, collection:
        [
            ["Default", "default"],
            ["Group by filename", "filename"],
            ["Group by filename (with pre-existing OCR)", "filename_with_ocr"]
        ]
    %>

    <%= form.input :using_file_manifest, as: :boolean, label: 'I have a file manifest'%>

    <%= form.input :all_files_public,
                   as: :radio_buttons,
                   collection: [['Default', false], ['Preserve=Yes, Shelve=Yes, Publish=Yes', true]] %>

    <%= form.button :submit, class: "btn-sul-dlss" %>
<% end %>
